{% comment %}
Daily Little Thing Widget
Displays a different inspirational "little thing" each day
{% endcomment %}

{% assign start_date = "2025-01-01" | date: "%s" %}
{% assign current_date = site.time | date: "%s" %}
{% assign days_since_start = current_date | minus: start_date | divided_by: 86400 %}
{% assign thing_index = days_since_start | modulo: site.data.little-things.things.size %}
{% assign todays_thing = site.data.little-things.things[thing_index] %}

<div class="daily-thing-widget">
    <div class="daily-thing-header">
        <h4><a href="https://justlittlethings.net/list" target="_blank" rel="noopener noreferrer">Little thing of the
                day</a></h4>
    </div>
    <div class="daily-thing-content">
        <p class="daily-thing-text">
            {{ todays_thing }}
        </p>
    </div>
</div>
