/* ==========================================================================
   Default skin
   ========================================================================== */

/* Colors */
$background-color: #f1f1f1 !default;
$text-color: #343434 !default;
$muted-text-color: #424242 !default;
$primary-color: #24292f !default;
$border-color: #b5b3b0 !default;
$footer-background-color: #24292f !default;
$link-color: #343434 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

// Page footer
.page__footer {
   color: #f1f1f1 !important; // override
}

// Author urls social icons
.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa {
   color: #343434 !important; // override
}

// Page footer social icons
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
   color: #f1f1f1 !important; // override
}