/* ==========================================================================
   Default skin
   ========================================================================== */

/* Colors */
$background-color: #f1f1f1 !default;
$text-color: #343434 !default;
$muted-text-color: #5c5952 !default;
$primary-color: #343434 !default;
$border-color: #b5b3b0 !default;
$footer-background-color: #b5b3b0 !default;
$link-color: #343434 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;