figure.highlight pre button {
  color: #c1c2c3;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  background-color: #222;
  font-size: 18px;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  opacity: 1;

  &:active,
  &:focus,
  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}