figure.highlight pre button {
  border-left: 15px solid #35383c;
  color: #c1c2c3;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;

  background-color: #222;
  font-size: 14px;

  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  opacity: 0;

  &:active,
  &:focus,
  &:hover {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}