figure.highlight pre button {
  color: #b2d584;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  background-color: #3f545e;
  border-color: #3f545e;
  font-size: 18px;
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  opacity: 1;

  &:active,
  &:focus,
  &:hover {
    // background: rgba(0, 0, 0, 0.7);
    background: rgba(169, 128, 200, 0.7);
  }
}